@charset "UTF-8";
@font-face {
    font-family: "CookieRunOTF Regular";
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: "CookieRunOTF Regular";
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 5px lime;
    font-size: 3em;
}

textarea {
    margin: 10px;
}

hr {
    width: 500px;
}

